.container_display {
  width: 290px;
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}
.text_display {
  font-size: 40px;
  color: white;
  margin: 0px;
  padding: 0px;
}