.buttonChar {
  background-color: #FF7629;
  width: 62px;
  height: 60px;
  padding: 6px 4px;
  border-radius: 16px;
  border: none;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}