.container_display {
  width: 300px;
  height: 150px;
  background-color: black;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 8px;
}
.text_display {
  font-size: 40px;
  color: white;
}