.App {
  background-color: white;
  width: 100%;
  height: screen;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer {
  background-color: black;
  color: white;
  width: 300px;
  margin-top: 5px;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 10px;
}