.App {
  background-color: white;
  width: 100%;
  height: screen;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
  border-radius: 40px;
  width: 330px;
  height: 650px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.containerDiv {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 5px;
}
.footer {
  background-color: transparent;
  color: white;
  width: 290px;
  margin-top: 5px;
  text-align: center;
  align-items: center;
  border: 2px solid #FF7629;
  border-radius: 10px;
}
@media screen and (max-width: 320px) {
  .container {
    width: 305px;
    height: 655px;
  }
}