@import url('https://fonts.googleapis.com/css2?family=Padyakke+Expanded+One&display=swap');
body {
  margin: 0;
  font-family: 'Padyakke Expanded One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}